[Unit]
Description=Beskar key loader (v{{VERSION}})
DefaultDependencies=no
Before=zfs-load-key.service initrd-root-fs.target
After=systemd-udev-settle.service
Wants=zfs-load-key.service systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/{{SCRIPT_NAME}}
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=initrd-root-fs.target
