[Unit]
Description=Beskar early auto-unlock (v{{VERSION}})
DefaultDependencies=no
After=systemd-udev-settle.service
Before=zfs-load-key.service zfs-mount.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/sbin/{{SCRIPT_NAME}}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=initrd.target
